<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Simple Transactional Email</title>
    <style>
        @import "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700";

        html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        total,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline
        }

        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block
        }

        body {
            line-height: 1
        }

        ol,
        ul {
            list-style: none
        }

        blockquote,
        q {
            quotes: none
        }

        blockquote:before,
        blockquote:after,
        q:before,
        q:after {
            content: '';
            content: none
        }

        table {
            border-collapse: collapse;
            border-spacing: 0
        }

        body {
            height: 840px;
            width: 800px;
            display: contents;
            justify-content: center;
            margin: auto;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px
        }

        strong {
            font-weight: 700
        }

        #container {
            position: relative;
            padding: 4%;
            width: 1000px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 16px;
            line-height: 24px;
            color: #555;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
        }


        #header {
            height: 80px
        }

        #header>#reference {
            float: right;
            text-align: right
        }

        #header>#reference h3 {
            margin: 0
        }

        #header>#reference h4 {
            margin: 0;
            font-size: 85%;
            font-weight: 600
        }

        #header>#reference p {
            margin: 0;
            margin-top: 2%;
            font-size: 85%
        }

        #header>#logo {
            width: 50%;
            float: left
        }

        #fromto {
            height: 160px;
            margin-top: 40px;
        }

        #fromto>#from,
        #fromto>#to {
            width: 45%;
            min-height: 90px;
            margin-bottom: 30px;
            font-size: 85%;
            padding: 1.5%;
            line-height: 120%
        }

        #fromto>#from {
            float: left;
            width: 45%;
            background: #efefef;
            margin-bottom: 30px;
            font-size: 85%;
            padding: 1.5%
        }

        #fromto>#to {
            float: right;
            border: solid #dadce0 1px
        }

        #items {
            margin-top: 10px
        }

        #items>p {
            font-weight: 700;
            text-align: right;
            margin-bottom: 1%;
            font-size: 65%
        }

        #items>table {
            width: 100%;
            font-size: 85%;
            border: solid #dadce0 1px
        }

        #items>table th:first-child {
            text-align: left
        }

        #items>table th {
            font-weight: 400;
            padding: 1px 4px
        }

        #items>table td {
            padding: 1px 4px
        }

        #items>table th:nth-child(2),
        #items>table th:nth-child(4) {
            width: 45px
        }

        #items>table th:nth-child(3) {
            width: 60px
        }

        #items>table th:nth-child(5) {
            width: 80px
        }

        #items>table tr td:not(:first-child) {
            text-align: right;
            padding-right: 1%
        }

        #items table td {
            border-right: solid #dadce0 1px
        }

        #items table tr td {
            padding-top: 3px;
            padding-bottom: 3px;
            height: 10px
        }

        #items table tr:nth-child(1) {
            border: solid #dadce0 1px
        }

        #items table tr th {
            border-right: solid #dadce0 1px;
            padding: 3px;
            background: #039be5;
            color: #fff;
        }

        #items table tr:nth-child(2)>td {
            padding-top: 8px
        }

        #summary {
            height: 170px;
            margin-top: 30px
        }

        #summary #note {
            float: left
        }

        #summary #note h4 {
            font-size: 10px;
            font-weight: 600;
            font-style: italic;
            margin-bottom: 4px
        }

        #summary #note p {
            font-size: 10px;
            font-style: italic
        }

        #summary #total table {
            font-size: 85%;
            width: 300px;
            float: right
        }

        #summary #total table td {
            padding: 3px 4px
        }

        #summary #total table tr td:last-child {
            text-align: right
        }

        #summary #total table tr:nth-child(4) {
            background: #efefef;
            font-weight: 600
        }

        #footer {
            margin: auto;
            position: absolute;
            left: 4%;
            bottom: 4%;
            right: 4%;
            border-top: solid #dadce0 1px
        }

        #footer p {
            margin-top: 1%;
            font-size: 65%;
            line-height: 140%;
            text-align: center
        }
    </style>
</head>

<body>


    <div class="invoice-box ">
        <div id="container">
            <div id="header">
                <div id="logo">
                    <img src="http://placehold.it/230x70&text=logo" alt="">
                </div>
                <div id="reference">
                    <h3><strong>INVOICE / FACTURA {{invoiceNumber}}</strong></h3>
                    <h4>Date / Fecha : {{ invoiceDate }}</h4>
                    <p>Due before / Vencimiento : {{ dueDate }}</p>
                </div>
            </div>

            <div id="fromto">
                <div id="from">
                    <p>
                        <strong>Intranet Zenter S.L</strong><br>
                        Calle de Ejemplo Nº55 <br>
                        03003 Alicante (Alicante) <br><br>
                        Teléfono: 965 300 400 <br>
                        Email: info@intranetzenter.com <br>
                        Web: www.intranetzenter.com
                    </p>
                </div>
                <div id="to">
                    <p>
                        <strong>Proaguas de Levante S.A.</strong><br>
                        Calle de los Robles 41, Bajo 30.<br>
                        00400 Burgos, Burgos<br><br>
                        CIF/NIF: B53555444<br><br>
                        <br>
                    </p>
                </div>
            </div>

            <div id="items">
                <table>
                    <tr>
                        <th>Description</th>
                        <th>UnitPrice</th>
                        <th>Discount</th>
                        <th>Quantity</th>
                        <th>Vat</th>
                        <th>IRPF</th>
                        <th>Amount</th>
                    </tr>

                    {{#each apiData }}
                    <tr style="border: 1px solid #dadce0 !important;">

                        <td>{{ description }}</td>
                        <td>{{ unitPrice }}</td>
                        <td>{{ discount }}</td>
                        <td>{{ quantity }}</td>
                        <td>{{ vat }}</td>
                        <td>{{ irpf }}</td>
                        <td>{{ baseAmount }}</td>

                    </tr>
                    {{/each }}
                    </tbody>

                </table>
            </div>

            <div id="summary">
                <div id="note">

                </div>
                <div id="total">
                    <table border="1">
                        <tr>
                            <td> Tax basis / Base imponible</td>
                            <td>{{ baseAmount }} €</td>
                        </tr>
                        <tr>
                            <td> VAT / IVA</td>
                            <td>{{ totalvat }} €</td>
                        </tr>
                        <tr>
                            <td> I.R.P.F</td>
                            <td>{{ totalIrpf }} €</td>
                        </tr>
                        <tr>
                            <td>Total </td>
                            <td>{{ paymentCalculation }} €</td>
                        </tr>
                        <tr>
                            <td>Total discount / Descuenta total: </td>
                            <td>{{ paymentCalculation }} €</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="footer">
                <p>Société à responsabilité limité (SARL) - Capital de 1 000 000 € - SIRET: 87564738493127 <br>
                    NAF-APE: 6202A - Num. TVA: FR28987856541</p>
            </div>
        </div>
    </div>
</body>

</html>



